In [1]:
import pandas as pd

In [10]:
df1=pd.read_csv("C:/Users/cacet/OneDrive/Desktop/c pro/first.csv",header=None,index_col=0,names=["name","age"])
df1

  name  age
0  ABC   20
1  DEF   30
2  GHI   40
3  JKL   50

In [11]:
df1['name']

0    ABC
1    DEF
2    GHI
3    JKL
Name: name, dtype: object

In [16]:
df2=pd.read_csv("C:/Users/cacet/OneDrive/Desktop/c pro/first.csv",header=None,usecols=[1,2])
df2

     1   2
0  ABC  20
1  DEF  30
2  GHI  40
3  JKL  50

In [17]:
df3=pd.read_csv("C:/Users/cacet/OneDrive/Desktop/c pro/first.csv",header=None,sep='.')
df3

   0    1   2
0  0  ABC  20
1  1  DEF  30
2  2  GHI  40
3  3  JKL  50

In [18]:
df3=pd.read_csv("C:/Users/cacet/OneDrive/Desktop/c pro/first.csv",header=None)
df3

          0
0  0.ABC.20
1  1.DEF.30
2  2.GHI.40
3  3.JKL.50