In [1]:
import numpy as np
import pandas as pd

In [10]:
df=pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(" "),columns='p q r s'.split(" "))

In [11]:
df

          p         q         r         s
a  0.377338 -1.225875  1.668559  0.381614
b  0.883540 -1.342866 -0.630050 -0.237747
c  0.148330 -0.993698  0.219291 -1.093918
d  1.438630  0.568859 -0.544340 -1.068075
e -0.127679  0.452366 -0.514192 -0.050423

In [12]:
s_df=df.sort_values(by=["p"],ascending=[True])

In [13]:
print(s_df)

          p         q         r         s
e -0.127679  0.452366 -0.514192 -0.050423
c  0.148330 -0.993698  0.219291 -1.093918
a  0.377338 -1.225875  1.668559  0.381614
b  0.883540 -1.342866 -0.630050 -0.237747
d  1.438630  0.568859 -0.544340 -1.068075

In [14]:
s2_df=df.sort_values(by=["q","r"],ascending=[True,True])

In [21]:
print(s2_df)

          p         q         r         s
b  0.883540 -1.342866 -0.630050 -0.237747
a  0.377338 -1.225875  1.668559  0.381614
c  0.148330 -0.993698  0.219291 -1.093918
e -0.127679  0.452366 -0.514192 -0.050423
d  1.438630  0.568859 -0.544340 -1.068075
0  0.000000       NaN       NaN       NaN

In [20]:
s2_df.loc[0, 'p'] = 0