In [1]:
import pandas as pd
import numpy as np

Data types in pnadas
1, Series (Series can be indexed by labels, can hold any type of data, can also hold python object, can convert list,dictionary ect to series)
2,

In [2]:
label =['a','b','c','d']
list1=[1,2,3,4]

#arrat with values 40,50,60 with numpy
a=np.array([40,50,60])
dict={'a':10,'b':20,'c':30}

In [3]:
pd.Series(data=list1)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
pd.Series(data=list1,index=label)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
pd.Series(data=label,index=label)

a    a
b    b
c    c
d    d
dtype: object

In [6]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [7]:
pd.Series(data=a)

0    40
1    50
2    60
dtype: int32

In [8]:
pd.Series(data=dict)

a    10
b    20
c    30
dtype: int64

In [9]:
mydataset={'cars':['toyota','bmw','kia'],'color':['red','black','blue']}
pd.Series(mydataset)

cars     [toyota, bmw, kia]
color    [red, black, blue]
dtype: object

In [10]:
pd.DataFrame(mydataset)

     cars  color
0  toyota    red
1     bmw  black
2     kia   blue

In [11]:
# create a list of fruites with colors(label) 
# create a 2D with list of fruites ad colors

In [12]:
l1=['orange','apple','grape']
l2=['orange','red','violet']
pd.Series(data=l1,index=l2)

orange    orange
red        apple
violet     grape
dtype: object

In [13]:
table1={'orange':'orange','apple':'red','grape':'violet'}

In [14]:
pd.Series(data=[1,2,3,4],index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
import random 
# seed function : used to save the state of random function so that it can generate some random numbers on multiple exicution of the code ,
# seed is used to initialize the random number generator

In [16]:
random.seed(40)
print('first',random.randint(50,100))
random.seed(40)
print('second',random.randint(50,100))

first 79
second 79

In [17]:
random.seed(20)
print(random.random())
random.seed(10)
print(random.random())

0.9056396761745207
0.5714025946899135

In [18]:
pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(" "),columns='p q r s'.split(" "))

          p         q         r         s
a -0.898388  1.663427  1.044188 -1.294744
b -1.071240 -0.651544 -0.494917 -0.638538
c -0.720672 -1.033743 -0.914941 -1.076371
d -0.052101 -0.472600  1.372860  1.305931
e  1.408189  0.627496 -0.369238 -0.557183

In [19]:
df=pd.DataFrame(np.random.rand(5,4),index='a b c d e'.split(" "),columns='p q r s'.split(" "))

In [20]:
print(df['p'])

a    0.125674
b    0.028479
c    0.093462
d    0.789567
e    0.819763
Name: p, dtype: float64

In [21]:
print(df[['r','s']])

          r         s
a  0.158111  0.274758
b  0.877976  0.229674
c  0.343881  0.996678
d  0.908131  0.630476
e  0.101129  0.097476

In [22]:
print(type(df['p']))

<class 'pandas.core.series.Series'>

In [23]:
df['t']=np.random.rand(5,1)
print(df)

          p         q         r         s         t
a  0.125674  0.159444  0.158111  0.274758  0.254618
b  0.028479  0.813376  0.877976  0.229674  0.381206
c  0.093462  0.494437  0.343881  0.996678  0.304650
d  0.789567  0.826248  0.908131  0.630476  0.380272
e  0.819763  0.358366  0.101129  0.097476  0.104502

In [24]:
df=df.drop(columns='p')
print(df)

          q         r         s         t
a  0.159444  0.158111  0.274758  0.254618
b  0.813376  0.877976  0.229674  0.381206
c  0.494437  0.343881  0.996678  0.304650
d  0.826248  0.908131  0.630476  0.380272
e  0.358366  0.101129  0.097476  0.104502

In [25]:
# select a the row
print(df.loc['a'])

q    0.159444
r    0.158111
s    0.274758
t    0.254618
Name: a, dtype: float64

In [26]:
print(df.iloc[2])

q    0.494437
r    0.343881
s    0.996678
t    0.304650
Name: c, dtype: float64

In [27]:
print(df.loc['b','r'])

0.8779763437590636

In [28]:
print(df.loc[['a','b'],['r','s']])

          r         s
a  0.158111  0.274758
b  0.877976  0.229674

In [29]:
a1=['a','a','a','b','b','b']
a2=[1,2,3,1,2,3]
p=list(zip(a1,a2))
print(p)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [30]:
pf=pd.DataFrame(np.random.rand(6,2),index=p,columns=['x','y'])
pf

               x         y
(a, 1)  0.196059  0.898827
(a, 2)  0.088648  0.785646
(a, 3)  0.311470  0.178539
(b, 1)  0.790480  0.845521
(b, 2)  0.257389  0.903158
(b, 3)  0.235622  0.941891